// Base
$base-color = #2c3d4f
$base-bgcolor = #fff
$base-font-size = 13px

// Links
$link-color = #28a1e2
$link-color-hover = #28a1e2

// Resolutions
$min-page-width = 320px

// Fonts Declarations
$ff-base = "Open Sans", Helvetica, sans-serif
$ff-arial = arial, Helvetica, sans-serif
