// Utility (helper) classes

// Display
.u-df
  display: flex

.u-db
  display: block

.u-dbi
  display: block !important

.u-dn
  display: none

.u-dni
  display: none !important

.u-dib
  display: inline-block

// Position
.u-pr
  position: relative

.u-ps
  position: static

.u-pa
  position: absolute

// Vertical alignment
.u-vat
  vertical-align: top

.u-vam
  vertical-align: middle

.u-vab
  vertical-align: bottom

// Text alignment
.u-tal
  text-align: left

.u-tar
  text-align: right

.u-tac
  text-align: center

// Text transform
.u-ttu
  text-transform: uppercase

.u-ttn
  text-transform: none

// Floats
.u-fl
  float: left

.u-fr
  float: right

// white-space
.u-wsn
  white-space: nowrap

// User Selection
.u-usn
  user-select: none

// margins, paddings
create-util-class("u-m", "margin", 0, 5, 10)

create-util-class("u-p", "padding", 0, 5, 10)

.u-ma
  margin: 0 auto

.u-nm
  margin: 0

.u-np
  padding: 0
